@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

body{
   font-family: "Mulish", sans-serif;
}

#banner{
  background-image: url("./images/bgbanner.png"), url("./images/bg.png");
  background-position:bottom, center;
  background-size: cover;
  background-repeat: no-repeat;
}

